.Titulo{

    font-weight: bolder;
    color: #0C356A;
    font-size: 20px;


}

.constanciastextsirveporfa {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    height: 15vh;
}

.cardconst{
    --bs-card-border-radius: 16px;
}

.Subtitulo{

    font-weight: bolder;

}

.Texto{

    margin-left: 5px;

}

.TituloProjSEL{

    font-weight: bolder;
    color: #0C356A;
    font-size: 30px;

}

.TitleSelectContainer{

    background-color: #ffffff;
    border-radius: 5px;

    width: 37%;
}

.centered-containerProjSelc {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 75px;
}

.NoProjContainer{
    background-color: #ffffff;
    border-radius: 5px;

    width: 75%;

}

.BotonRegistrar{
    background-color: #0C356A;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 5px;

    font-size: 30px;

    text-decoration: none;
    align-content: center;
}

.ConstanciaCardPhoto {
    background-image: url('../../../img/Constancia1.png');
    width: 331px;
    height: 315px;
    background-position: center;
    background-size: cover;
  
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: top;
    justify-content: center;
  }