/* Widget.css */
.widget {
    background-color: white;
    border-radius: 15px;
    margin-bottom: 15px;
}

.widget-title {
    color: #0C356A;
    font-weight: bold;
    font-size: 20px;
    margin: 5px 10px;
    padding-top: 5px;
}

.widget-content {
    padding-bottom: 10px;
}

.centered .widget-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
