.ButtonContinue{

    background-color: #0C356A;
    border-color: #0C356A;
    font-weight: bold;
}
.ButtonContinue:hover{

    background-color: #0b5ed7;
    border-color: #0b5ed7;
    font-weight: bold;
}